mixin aboutme()
  div.aboutme
    #whoiam-wrapper.row
      #whoiam.col-md-12
        h3#whoiam-title
          | I'm
          span.label.label-primary Alessandro Molari
          | a.k.a
          span.label.label-info {{ username }}
    #shell-wrapper.row
      #shell.panel.panel-primary
        #shell-title-wrp.panel-heading
          h3#shell-title.panel-title
            | Shell
        #shell-content.panel-body
          | TODO
    #aboutme-wrapper.row
      #aboutme.panel.panel-info
        #aboutme-title-wrp.panel-heading
          h3#aboutme-title.panel-title
            | About me
        #aboutme-content.panel-body
          p
            | I'm both a
            span.text-info student
            | and a
            span.text-info scholar
            | with immense interest in studying and
            span.text-warning
              | understanding things in low-level details
            | .
          p
            | The strange thing is I consider myself an
            span.text-info holist
            | but I also love to go in deep in things.
          p
            span.text-warning
              | Abstraction levels are so fucking important
            span.text-muted
              | and those engineers ignoring them should burn in the hell.
          p
            | Mastering an abstraction level typically involves breaking it.
            br
            | This is what I consider myself strong.
            span.text-warning
              | Take a thing and analyze it.
              | Then, try to understand its behaviour:
            ul
              li What are its limits?
              li What is that thing useful for?
              li When should I use it?
              li
                | Is it
                span.text-info extensible
                |                   /
                span.text-info modular?
              li
                | Does it encourage
                span.text-info reuse
                | ?
          div
            p
              | I am a hater but I love everything I spend enough time in.
              | If I have choose some hobbies or fields of study, they may be:
            .list-group
              .list-group-item
                h4.list-group-item-heading.text-info
                  | Divulgative physics
                .list-group-item-text
                  p
                    | just divulgative because I am too dumb to understand it
                    | from a scientist perspective.
                  p
                    | In another life, maybe, I will study Physics instead of
                    | Computer-Science..
              .list-group-item
                h4.list-group-item-heading.text-info
                  | Software analysis, design and (less) development
                .list-group-item-text
                  p
                    | Long life to
                    span.label.label-info
                      | Model-Driven-Development
                    | and GTFO shitty programmers exploiting Agile methodologies
                    | to avoid software design.
                  p
                    | In particular, as an holist I am fascinated by:
                    ul
                      li
                        | Tackling the ackward squad of
                        span.label.label-info
                          | distributed
                        | and
                        span.label.label-info
                          | concurrent
                        | software
                      li
                        | How to design
                        span.label.label-info
                          | expert systems
                  p
                    | But I also like:
                    ul
                      li
                        span.label.label-info
                          | Genetic algorithms
                        | , specially in designing fuzzers..
                      li
                        span.label.label-info
                          | Machine learning
                        | algorithms and models
              .list-group-item
                h4.list-group-item-heading
                  span.text-info
                    | Ethical
                  | Software and Hardware hacking
                .list-group-item-text
                  p
                    | Mainly
                    span.label.label-info
                      | reverse engineering
                    |                       and
                    span.label.label-info
                      | binary exploitation
                    | .
                  p
                    | Thanks to
                    a(href='http://smashthestack.org')
                      | SmashTheStack
                    | for their awesome challenges.
              .list-group-item
                h4.list-group-item-heading
                  span.text-info
                    | I ♥ old-school CLI-based software
                .list-group-item-text
                  p
                    | These days, CLI is 
                    i really
                    |  under-rated.
                  p
                    | I ♥ the 
                    span.text-info UNIX way
                    | :
                    span.text-warning KISS over Complex
                    | .
                  p
                    | Small stackable blocks with stdin, stdout, stderr and pipe
                    | them!
                    span.label.label-info
                      | Gentoo
                    | +
                    span.label.label-info
                      | Awesome WM
                    | +
                    span.label.label-info
                      | VIm
                    | +
                    span.label.label-info
                      | ZSH
                    | all the way!
                    span.text-muted
                      | and GTFO GUIs.
                  p
                    | I ♥ to configure and fine-tune my (mostly) Gentoo-based
                    | systems.
                  p
                    | I've also created an NON-production-ready
                    | hassle-free software for managing heterogeneous-systems
                    | configurations called
                    a(href='https://github.com/alem0lars/fizzy') Fizzy
                    | encouraging reuse and other common software engineering
                    | goodness.
    #contact-wrapper.row
      #contact.panel.panel-success
        #contact-title-wrp.panel-heading
          h3#contact-title.panel-title
            | Contact informations
        #contact-content.panel-body
          i Feel free to keep in touch with me or contact me at:
          ul
            li
              span.label.label-default
                a(href='https://github.com/alem0lars')
                  | Github
            li
              span.label.label-default
                a(href='https://twitter.com/alem0lars')
                  | Twitter
            li
              span.label.label-default
                a(href='https://linkedin.com/in/molarialessandro')
                  | LinkedIN
            li
              span.label.label-default
                a(href='mailto://molari.alessandro@gmail.com')
                  | Email
              | &nbsp→&nbsp
              span.label.label-default
                | molari dot alessandro at gmail dot com
    .footer.row
      .col-md-5
        p ♥ by alem0lars
        p.text-muted
          | thanks to 
          a(href='https://anapnea.net') anapnea
      .col-md-6.col-md-offset-1
        p.text-right
          | This website is entirely static, i.e. 
          b client-side only
          | .
        p.text-muted.text-right
          | If you try to exploit it, you're just losing your time.
        p.text-right
          | If you instead prefer to hack something
          span.text-info
            | you can try 
            a(href='http://io.smashthestack.org:84/') IO
            | .

